.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  #logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }

.success-msg {
  color: #270;
  background-color: #DFF2BF;
  width: fit-content;
}

.help-msg {
  color: #888;
  font-style: italic;
  width: fit-content;
}