{% extends "base_generic.html" %}

{% block content %}
    <h1 class="text-brand-secondary fs-1">Mes dispositifs</h1>

    {% if device_list %}
    <ul>
      {% for devi in device_list %}
      <li>
        <a href="{{ devi.get_absolute_url }}">{{ devi.name }} </a>, added on 
        ({{ devi.dateTime }})
      </li>
      <ul>
        <li>Consommation actuelle du dispositif: {{ devi.value }} {{ devi.units }}</li>
        <li>Status du dispositif: <b>{{ devi.deviceStatus }}</b></li>
      </ul>
      {% endfor %}
    </ul>
    {% else %}
      <p>Il n'y a pas de dispositifs à montrer.</p>
    {% endif %}

    <br>

    <h4 class="text-brand-secondary fs-3">Ajouter un dispositif</h4>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn custom-btn fw-medium p-2">Ajouter</button>
    </form>

        {% if messages %}
        <ul class="messages success-msg ">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
